docker/docker-compose.yaml
docker/httpd.conf
**/*.cgi
**/Makefile
config.log
config.status
configure
config/inotify.service
**/*.cfg
**/*.pc
config/*.json
autotools/missing
autotools/install-sh
**/Makefile.in
aclocal.m4
autom4te.cache/
perl-deps.yaml
src/main/**/*.pl
src/main/**/*.pm
**/*.1man

